# Datetime Index

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
from datetime import datetime
#not same as import datetime

In [12]:
my_year = 2019
my_month = 1
my_day = 8
my_hour = 13
my_minute= 15
my_second = 50

In [13]:
my_date = datetime(my_year, my_month,my_day )

In [14]:
my_date

datetime.datetime(2019, 1, 8, 0, 0)

Time defaults to 00 hours and minutes

In [15]:
my_date = datetime(my_year, my_month, my_day, my_hour, my_minute, my_second)

In [16]:
my_date

datetime.datetime(2019, 1, 8, 13, 15, 50)

In [17]:
type(my_date)

datetime.datetime

In [18]:
my_date.day

8

In [19]:
my_date.month

1

In [20]:
my_date.weekday() #Tuesday

1

In [21]:
first_two = [datetime(2018,9,23), datetime(2018,7,23)]

In [22]:
type(first_two)

list

In [31]:
dt_ind = pd.DatetimeIndex(first_two)

In [32]:
data = np.random.randn(2,2)
data

array([[-0.67461112, -0.23358636],
       [ 0.49700314, -0.44521193]])

In [33]:
cols = ['a','b']

In [36]:
df = pd.DataFrame(data, dt_ind, cols)

In [37]:
df

                   a         b
2018-09-23 -0.674611 -0.233586
2018-07-23  0.497003 -0.445212

In [38]:
df.index.max()

Timestamp('2018-09-23 00:00:00')

In [39]:
df.index.argmax()

0

### de nada!