#### Datatypes and expressions:

In [1]:
1

1

In [2]:
2.2

2.2

In [3]:
2+3

5

In [4]:
5*3.4

17.0

In [5]:
7+7*5-2

40

In [6]:
(7+7)*(5-2)

42

In [7]:
5%2

1

In [8]:
4%2

0

In [9]:
3/2

1.5

In [10]:
x = 12

In [11]:
x = x+x

In [12]:
x

24

In [13]:
name_of_var = 12

In [14]:
# a comment

In [15]:
'single quoted delimited string'

'single quoted delimited string'

In [16]:
"double quoted delimited"

'double quoted delimited'

In [17]:
greeting = 'hello'

In [18]:
name = 'Prashant'

In [19]:
print(greeting + name)

helloPrashant

In [26]:
print(greeting + ' '+ str(2) +' '+ 'you'+ name)

hello 2 youPrashant

In [25]:
print("{} 2 you {}".format(greeting, name))

hello 2 you Prashant

In [22]:
print("{arg1} 2 you {arg2}".format(arg2 = name, arg1 = greeting ))

hello 2 you Prashant

In [27]:
astring = 'iamtheknight'

In [28]:
astring[5]

'e'

In [29]:
astring[4:7]

'hek'

In [30]:
astring[3:]

'theknight'

In [31]:
astring[:7]

'iamthek'

In [32]:
astring[0:9:2]

'imhki'

#### Collection Datatypes

In [33]:
alist = [1,2,3,4]

In [34]:
alist.append(5)

In [35]:
alist

[1, 2, 3, 4, 5]

In [37]:
alist[2:4]

[3, 4]

In [38]:
alist[4] = "five"

In [39]:
alist

[1, 2, 3, 4, 'five']

In [42]:
nestlist = [1,23,[4,57,8],["hello","prashant"]]

In [43]:
nestlist[2][2]

8

In [44]:
nestlist[3][0]

'hello'

In [45]:
dic = {'key1': "Prashant", 'key2': "Brahmbhatt", 'key3': "32"}

In [46]:
dic

{'key1': 'Prashant', 'key2': 'Brahmbhatt', 'key3': '32'}

In [47]:
dic['key2']

'Brahmbhatt'

In [48]:
dic['key2'] = 'bhatt'

In [49]:
dic

{'key1': 'Prashant', 'key2': 'bhatt', 'key3': '32'}

In [66]:
dic = {'name': {'first': 'Prashant', 'last':'Brahmbhatt', 'marks': [67,45,55]}, 'number': 32, 3: 'Three'}

In [60]:
dic['name']['first']

'Prashant'

In [63]:
dic['name']['last'] = 'Bhatt'

In [61]:
dic['number']

32

In [62]:
dic[3]

'Three'

In [69]:
dic['name']['marks'][2]

55

In [73]:
markslist = dic['name']['marks']

In [74]:
markslist

[67, 45, 55]

In [70]:
tup = (2,4,6)

In [71]:
tup[1]

4

In [72]:
tup[2] = 4 #gives error

TypeError: 'tuple' object does not support item assignment

In [75]:
{1,2,3,4}

{1, 2, 3, 4}

In [76]:
{1,1,1,1,2,2,2,2,3,3,4,4,4}

{1, 2, 3, 4}

In [78]:
aset = set({1,1,2,2,2,3,3,3,4,4})

In [79]:
aset

{1, 2, 3, 4}

In [80]:
empset = set()

In [81]:
type(empset)

set

In [82]:
empdic = {}

In [83]:
type(empdic)

dict

In [84]:
aset.add(12)

In [85]:
aset

{1, 2, 3, 4, 12}

#### Operators and conditionals

In [86]:
1 < 2

True

In [87]:
1> 2

False

In [88]:
1 == 2

False

In [89]:
1 == 1

True

In [90]:
1 != 2

True

In [91]:
(1 < 2) and (3 < 4)

True

In [96]:
(1 < 2) and (2 > 4)

False

In [97]:
(1 < 2) or (2 > 4)

True

In [99]:
if 1 < 2:
    print("YES")

YES

In [102]:
if 1 > 2:
    print("WRONG")
elif 3 <4:
    print("Right")
else:
    print("eh!")

Right

In [104]:
alist

[1, 2, 3, 4, 'five']

In [107]:
for i in alist:
    print(str(i), end = ' ')

1 2 3 4 five

In [109]:
i=1
for i in range(len(alist)):
    i = i+1
i

5

In [110]:
for i in aset:
    print("i is:{}".format(i))

i is:1
i is:2
i is:3
i is:4
i is:12

In [112]:
for i in range(1,20,2):
    print(i, end = ' ')

1 3 5 7 9 11 13 15 17 19

In [113]:
list(range(1,30,3))

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28]

In [115]:
out = []
x  = range(1,5)

for num in x:
    out.append(num**2)
    
out

[1, 4, 9, 16]

In [116]:
[num**2 for num in x]

[1, 4, 9, 16]

In [117]:
out = [num**2 for num in x]

In [118]:
out

[1, 4, 9, 16]

In [124]:
def func(name = 'unknown'):
    print("Hello" + name)
func()
func('prashant')
func(name = "Prashant")
func

Hellounknown
Helloprashant
HelloPrashant

In [127]:
def squa(num):
    """This function
    squares a number"""
    return(num**2)
squa(4)

16

In [128]:
map(squa,[1,2,4,5,6])

In [129]:
list(map(squa,[1,2,4,5,6]))

[1, 4, 16, 25, 36]

In [130]:
t = lambda num:num**2

In [131]:
t(4)

16

In [132]:
list(map(lambda num: num**2, [1,2,4,5,6]))

[1, 4, 16, 25, 36]

In [1]:
def multiply(x):
    return (x*x)
def add(x):
    return (x+x)

funcs = [multiply, add]
for i in range(5):
    value = list(map(lambda x: x(i), funcs))
    print(value)

[0, 0]
[1, 2]
[4, 4]
[9, 6]
[16, 8]

In [133]:
list(filter(lambda num: num%2== 0 , [1,2,3,4,5,6,7,8]))

[2, 4, 6, 8]

In [11]:
from functools import reduce
reduce( (lambda x, y: x * y), [1, 2, 3, 4] )

24

#### Handy Functions

In [136]:
s = "heLLo my name is Prashant"

In [137]:
s.upper()

'HELLO MY NAME IS PRASHANT'

In [140]:
s.lower()

'hello my name is prashant'

In [141]:
s

'heLLo my name is Prashant'

In [142]:
s.split()

['heLLo', 'my', 'name', 'is', 'Prashant']

In [143]:
tweet = "Go Chelsea! #Blues #ChelseaFC"

In [145]:
tweet.split('#')[1:]

['Blues ', 'ChelseaFC']

In [149]:
dic

{3: 'Three',
 'name': {'first': 'Prashant', 'last': 'Brahmbhatt', 'marks': [67, 45, 55]},
 'number': 32}

In [151]:
dic.keys()

dict_keys(['name', 'number', 3])

In [154]:
dic.values()

dict_values([{'first': 'Prashant', 'last': 'Brahmbhatt', 'marks': [67, 45, 55]}, 32, 'Three'])

In [155]:
alist

[1, 2, 3, 4, 'five']

In [156]:
alist.pop()

'five'

In [157]:
alist

[1, 2, 3, 4]

In [160]:
alist.pop(0)

1

In [161]:
alist

[2, 3, 4]

In [162]:
2 in alist

True

In [163]:
6 in alist

False

In [164]:
x = [(1,2),(4,5),(7,8)]

Tuple Unpacking:

In [166]:
for a,b in x:
    print(a)
    print(b)

1
2
4
5
7
8